img {
  max-width: 100%;
  max-height: 100vh;
  height: auto;
}

body {
  background-color: #101010;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span.emojitint {
  color: transparent;  
  text-shadow: 0 0 0 rgb(254, 168, 234);
}

p.up {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32;
}

p.head {
  color: rgb(255, 255, 255) !important;
  font-size: 32;
}

p {
  font-size: 20;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


a {
  text-decoration: none;
}

a:link { 
  color: rgb(242, 191, 241) !important;  
}
a:visited { 
  color: rgb(163, 212, 239) !important;
}
a:hover { 
  color: rgb(141, 69, 139) !important;
}
a:active { 
  color: rgb(203, 115, 200) !important;
}